div{
  display: block;
  unicode-bidi: isolate;
}
ul{
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}
.adds-hotword{
  display: flex;
  line-height:0;
  max-height: 235px;
  min-height: 235px;
}
.adds-hotword-slide{
  border-radius: .125rem;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  flex-basis: 0;
  flex-grow: 2;
  flex-shrink: 1;
  overflow: hidden;
}
.stardust-carousel{
  height: 100%;
  position: relative;
  width: 100%;
}
.stardust-carousel_item-list-wrapper{
  box-sizing: border-box;
  overflow-x: hidden;
}
.stardust-carousel_item-list{
  bottom: 0;
  display: flex;
  height: 100%;
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  touch-action: pan-y;
}
.stardust-carousel_item{
  align-items: center;
  align-self: center;
  display: flex;
  flex-shrink: 0;
  height: 100%;
  justify-content: center;
  list-style: none;
  overflow: hidden;
}
.stardust-carousel_item-inner-wrapper{
  height: 100%;
  width: 100%;
}
.stardust-carousel_item-inner-link{
  display: block;
  height: 100%;
}
.stardust-carousel_item-inner-link-image_container{
  position: relative;
}
.stardust-carousel_item-inner-link-image{
  padding-top: 0;
}